body {
    user-select: none !important;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.title-center {
    text-align: center;
    font-weight: 400;
}

.card-img-div {
    background-image: url(https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png);
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-fade {
    opacity: 1;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.card-fade:hover {
    opacity: .5;
}

.img-section {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
    margin-bottom: 50px;
}

.img-section img {
    height: 100%;
    width: 100%;
}

.img-section .floating-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
}